/* Structure */
#wrapper {
    background:#22282c;
    padding:0 0 94px 0;
}
#main {
    background:#d6e7ec;
}
.section_blog {
    padding:95px 0px 0 0;
}
.section_blog ul {
    background-color:#f3f1f0;
}
.section_blog_leader div, .blog_post{
    margin:0 10em;
    max-width:1060px;
}
.section_blog_leader div {
    border-bottom:2px solid #fff;
}

/* Text */
h2{
    font-size:2em;
    line-height:1em;
    margin:40px 0 10px 0;
}
h3{
    font-size:15pt;
    margin:20px 0 10px 0;
}
.section_blog a, .section_blog a:visited{
    text-decoration: none;
    color:#51b6ab;
    font-weight:bold;
}
.section_blog a:hover{
    text-decoration: underline;
}
h2 a, h2 a:visited{
    text-decoration: none;
    color:#7d9aa2;
}
.clear {
    clear:both;
}

/* Sections */
.section_blog p {
    margin:0 0 20px 0;
    line-height:1.6em;
}
.section_blog div {
    padding:0;
}
.section_blog p {
    font-size: 1.2em;
    font-weight:normal;
}
.section_blog li{
    padding: 0px 0 20px 0;
}
.section_blog blockquote {
    border-left: 5px solid #8f9396;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    width: 85%;
}
.section_blog .blog_metadata {
    font-size:.65em;
}
.section_blog .blog_metadata a {
    background:url(../images/icons/twitter.png) top right no-repeat;
    padding:2px 24px 3px 0;
}
.section_blog .blog_post .blog_metadata a {
    padding-top:0px;
}
.section_blog_link {
    font-size:.8em;
}

/* First blog leader style */
.section_blog li:first-child{
    background-color:#d6e7ec;
    padding-bottom:10px;
}

h1, .section_blog li:first-child h2{
    font-size:3.2em;
    margin:0;
}
h1 {
    line-height:1em;
}
.section_blog li:first-child p {
    font-size:1.7em;
}
.section_blog li:first-child div, .section_blog li:last-child div{
    border-bottom:none;
}
.section_blog .blog_post p:first-child {
    font-size:1.2em;
}
.section_blog .blog_post blockquote p:first-child {
    font-size:1.2em;
}
.section_blog li:first-child .blog_metadata a {
    padding-top:0px;
}
.section_blog .blog_post ul {
    list-style-type: disc;
    background-color:#d6e7ec;
    padding: 0 0 0 30px;
    font-size:1.2em;
    color: #8f9396;
}
.section_blog .blog_post li {
    padding: 0 0 15px 0;
}
.section_blog .blog_post p {
    margin: 0 0 10px 0;
}

/* About us page styles */
.values{
    margin:0 10em;
    max-width:1060px;
    padding:95px 0px 0 0;
}
.values h1 {
    line-height:1em;
    margin-bottom:20px;
}
.values p {
}
.values_list{
    margin:40px 0 0 40px;
    clear:both;
}
.values_list li {
    margin:0 0 10px 0;
}
.values .less, .values .more {
    float:left;
}
.values .less {
    margin:0 10px 0 0;
    padding:0 10px 0 0;
    border-right:1px dotted #8f9396;
}
.values .less, .values .less h3 {
    color:#8f9396;
    font-weight:normal;
}
.values .more, .values .more h3 {
    font-weight:bold;
}
.values .more ul {
    color:#39444c;
    font-weight:bold;
}
.values .more h3, .values .less h3 {
    text-transform: uppercase;
}
.values .clear {
    padding-top:30px;
}
.values .more h3 {
}
