/* Structure */
#wrapper {
    background:#22282c;
    padding:0 0 94px 0;
}
#main {
    background:#d6e7ec;
}
.leader div {
    margin:0 10em;
    padding:0;
}
.section_blog {
    margin:0 1em;
    padding:95px 0px 0 0;
}

/* Text */
h1{
    font-size:28pt;
    font-weight:bold;
}
h1 a{
    text-decoration: none;
    color:#7d9aa2;
}
h1 a:hover{
    text-decoration: underline;
}
h2{
    margin: 0 0 5px 0;
}
h3{
    font-size:15pt;
}
.section_blog a, .section_blog a:visited{
    text-decoration: none;
    color:#51b6ab;
    font-weight:bold;
}
.section_blog a:hover{
    text-decoration: underline;
}
h2 a, h2 a:visited{
    text-decoration: none;
    color:#7d9aa2;
}
.clear {
    clear:both;
}

/* Sections */
.values{
    padding:95px 0px 0 0;
    text-align: center;
    align: center;
}
.values ul{
    padding-bottom: 20px;
}

.section_blog p, .values p {
    font-size: 13pt;
}
.section_blog ul li{
    font-size: 13pt;
    padding-bottom: 20px;
    padding-left: 0px;
}
.section_blog blockquote {
    border-left: 5px solid #8f9396;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    width: 85%;
}
.section_blog img {
    width:100%;
    height:auto;
}
.section_blog .blog_post ul {
    list-style-type: disc;
    background-color:#d6e7ec;
    padding: 0 0 0 30px;
    font-size:1.2em;
    color: #8f9396;
}
.section_blog .blog_post li {
    padding: 0 0 15px 0;
}
.section_blog .blog_post p {
    margin: 0 0 10px 0;
}

#values-columns span{
    display: block;
}

#uncode span{
    padding-right: 5px;
}
#rewire{
    padding-top: 20px;
    clear:both;
}

.section_action div{
    margin: 0;
}

.more {
    margin-top: 40px;
}

.navigation ul li{
    float:right;
    margin:0 5px;
}