/* Structure */
#wrapper {
    background:#22282c;
    width: auto;
}
#main {
    background:#fff;
}
.leader div, .section_info div, .section_action div {
    padding:0;
}
.section_info {
    clear:both;
}
.timeline{
    display: none;
}


/* Text */
h1 span {
    font-size:.6em;
    font-weight: normal;
}
.section_info h2 {
    font-size:18pt;
}
.section_info p {
    font-size:12pt;
    line-height:1.2em;
}

/* Sections */
.leader {
    padding: 55pt 5pt 0pt 5pt;
    background:#d6e7ec;
}
.inner{
    background-image: url(../images/baby-ipad.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
#different{
    background:url(../images/crossword.gif) no-repeat;
    background-size: contain;
    background-position: 95%;
}
#different{
    padding-right: 40%;
}
#accidental {
    background:#f3f1f0 url(../images/squiggles.gif) no-repeat left;
    background-size: 40% 100%;
}
#accidental .section_wrap{
    padding-left: 40%;
}
#unleashed{
    background:url(../images/symphony.gif) no-repeat right;
    background-size: 40% 100%;
}
#unleash{
    padding-right: 40%;
}
.leader p {
    width: 60%;
}

.section_info{
    padding: 5pt 5pt 5pt 5pt;
}
.alt {
    background-color:#f3f1f0;
}

#learn a {
    padding:0 15px 0  0;
    background:url(../images/arrow_down.gif) no-repeat center right;
    text-decoration:none;
    text-transform:uppercase;
    font-size:10pt;
    color:#8f9396;
}

.section_action div{
    padding-top: 20px;
    text-align: center;
}
