<div class="section_action">
    <div>
        <p><a href="mailto:hello@hypr.co.nz?Subject=Hello%20HYPR" class="button"><span><span>Call to action</span></span></a></p>
        <p>
            <span itemprop="email">hello@hypr.co.nz</span>
            <br/>t. <span itemprop="telephone">+64 (21) 642 079</span>
        </p>
    </div>
    <div itemscope itemtype="http://schema.org/PostalAddress">
        <p>Level 1, 22-28 Customs St East, Auckland Central
            <br/><span itemprop="postOfficeBoxNumber">PO Box 106-229</span>,
                <span itemprop="addressLocality">Auckland City</span>
                <span itemprop="postalCode">1143</span>
        </p>
    </div>
</div>