<footer>
    <div class="bottom-footer">
        <div class="container">
            <div class="footer-lists">
                <p>
                    <span itemscope itemtype="http://schema.org/PostalAddress">
                    Level 1, 22-28 Customs St East, Auckland Central
                    <br/><span itemprop="postOfficeBoxNumber">PO Box 106-229</span>,
                    <span itemprop="addressLocality">Auckland City</span>
                    <span itemprop="postalCode">1143</span>
                        </span>
                    <br/>e. <a href="mailto:hello@hypr.nz?Subject=Hello%20Hypr" class="link-blue" title="hello@hypr.nz"
                               itemprop="email">hello@hypr.nz</a>
                    <br/>t. <span itemprop="telephone">+64 (21) 642 079</span><br/>
                Job enquiries.  <a href="mailto:cool.jobs@hypr.co.nz?Subject=Hello%20Hypr" class="link-blue" title="cool.jobs@hypr.co.nz"
                               itemprop="email">cool.jobs@hypr.co.nz</a>
                </p>
            </div>
            <div class="footer-lists">
                <a href="https://twitter.com/hyprnz" target="_blank">
                    <svg x="0px" y="0px" viewBox="0 0 30.2 30.2" enable-background="new 0 0 30.2 30.2" xml:space="preserve">
    <path fill="#FFFFFF" d="M15.1,0c2.1,0,4.1,0.4,5.9,1.2C22.9,2,24.5,3,25.8,4.4c1.4,1.4,2.4,3,3.2,4.8c0.8,1.8,1.2,3.8,1.2,5.9
    c0,2.1-0.4,4.1-1.2,5.9c-0.8,1.8-1.9,3.4-3.2,4.8c-1.4,1.4-3,2.4-4.8,3.2c-1.8,0.8-3.8,1.2-5.9,1.2c-2.1,0-4.1-0.4-5.9-1.2
    c-1.8-0.8-3.4-1.9-4.8-3.2c-1.4-1.4-2.5-3-3.2-4.8C0.4,19.1,0,17.2,0,15.1C0,13,0.4,11,1.2,9.2C2,7.4,3.1,5.8,4.4,4.4
    C5.8,3,7.4,2,9.2,1.2C11.1,0.4,13.1,0,15.1,0z M23.3,10.8C23,10.9,22.7,11,22.5,11c-0.3,0.1-0.6,0.1-0.9,0.2
    c0.3-0.2,0.6-0.4,0.8-0.7c0.2-0.3,0.4-0.6,0.6-0.9c-0.3,0.1-0.6,0.3-1,0.4c-0.3,0.1-0.7,0.2-1.1,0.3C20.7,10,20.3,9.7,20,9.5
    c-0.4-0.2-0.8-0.3-1.2-0.3c-0.8,0-1.5,0.3-2.2,0.9c-0.6,0.6-0.9,1.3-0.9,2.2c0,0.2,0,0.4,0.1,0.7c-1.3-0.1-2.5-0.4-3.6-0.9
    c-1.1-0.6-2-1.3-2.8-2.3c-0.3,0.5-0.4,1-0.4,1.5c0,1.1,0.4,2,1.3,2.5c-0.5,0-1-0.1-1.4-0.3v0c0,0.7,0.2,1.4,0.7,2
    c0.5,0.6,1,0.9,1.7,1.1c-0.1,0-0.2,0.1-0.4,0.1c-0.1,0-0.3,0-0.5,0c-0.1,0-0.3,0-0.5-0.1c0.2,0.6,0.5,1.1,1,1.5
    c0.5,0.4,1.1,0.6,1.8,0.6c-1.1,0.9-2.4,1.3-3.8,1.3H8.4c0.7,0.4,1.4,0.8,2.2,1c0.8,0.2,1.6,0.4,2.5,0.4c1.4,0,2.7-0.3,3.7-0.8
    c1.1-0.5,2-1.2,2.7-2c0.7-0.8,1.3-1.8,1.7-2.8c0.4-1,0.6-2.1,0.6-3.1v-0.4c0.3-0.2,0.6-0.5,0.9-0.8C22.9,11.3,23.1,11,23.3,10.8z"></path>
  </svg>
                </a>
                <a href="https://www.linkedin.com/company/hypr-nz" target="_blank">
                    <svg x="0px" y="0px" viewBox="0 0 30.2 30.2" enable-background="new 0 0 30.2 30.2" xml:space="preserve">
    <path fill="#FFFFFF" d="M15.1,30.2c-2.1,0-4.1-0.4-5.9-1.2c-1.8-0.8-3.4-1.9-4.8-3.2c-1.4-1.4-2.4-3-3.2-4.8C0.4,19.1,0,17.1,0,15
    C0,13,0.4,11,1.2,9.2C2,7.3,3.1,5.7,4.4,4.4c1.4-1.4,3-2.4,4.8-3.2C11.1,0.4,13,0,15.1,0c2.1,0,4.1,0.4,5.9,1.2
    c1.8,0.8,3.4,1.9,4.8,3.2c1.4,1.4,2.5,3,3.2,4.8c0.8,1.8,1.2,3.8,1.2,5.9c0,2.1-0.4,4.1-1.2,5.9c-0.8,1.8-1.9,3.4-3.2,4.8
    c-1.4,1.4-3,2.5-4.8,3.2C19.2,29.8,17.2,30.2,15.1,30.2z M10.9,6.5C10.4,6.5,10,6.7,9.7,7C9.4,7.3,9.2,7.7,9.2,8.2
    c0,0.5,0.2,0.8,0.5,1.2c0.3,0.3,0.7,0.5,1.2,0.5c0.5,0,0.8-0.2,1.2-0.5c0.3-0.3,0.5-0.7,0.5-1.2c0-0.5-0.2-0.9-0.5-1.2
    C11.7,6.7,11.3,6.5,10.9,6.5z M12.2,10.8H9.5V20h2.7V10.8z M13.5,20h2.7v-5.9c0.2-0.2,0.4-0.4,0.7-0.5c0.2-0.1,0.4-0.1,0.7-0.2
    c0.3,0,0.5,0,0.8,0.2c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.2,0.2,0.3,0.2,0.5V20h2.6v-5.6c0-0.6-0.2-1.2-0.5-1.8c-0.3-0.6-0.8-1-1.3-1.3
    c-0.5-0.3-1.1-0.4-1.7-0.4c-0.6,0-1.2,0.1-1.7,0.3v-0.4h-2.7V20z"></path>
  </svg>
                </a>
            </div>
        </div>
        <div class="footer-lists" style="text-align: right">
            <p>Icons made by
                <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar" class="link-blue">Gregor
                    Cresnar</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" class="link-blue">www.flaticon.com</a> are licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" class="link-blue"
                   target="_blank">CC 3.0 BY</a></p>
        </div>
    </div>
</footer>
