    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="Innovating delivery and delivering innovation.">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hypr.nz/"/>
    <meta property="og:title" content="HYPR, Uncode. Unleash"/>
    <meta property="og:image" content="https://hypr.nz/images/hypr-logo-trim.png" />
    <meta property="og:site_name" content="HYPR"/>
    <meta property="og:description" content="We are helping NZ companies create a new way of building software. A method that unleashes the ability of organisations to anticipate, respond, adapt, ideate and innovate in super-quick time."/>

    <meta name="twitter:site" content="@hyprNZ" />
    <meta name="twitter:creator" content="@hyprNZ" />
    <meta name="twitter:domain" content="hypr.nz" />
    <meta name="twitter:title" content="HYPR, Uncode. Unleash" />
    <meta name="twitter:description" content="Innovating delivery and delivering innovation." />

    <meta name="google-site-verification" content="oCYGo3o22MRCZmJIMwSNBhG2i1rAismJAXOlAkJSNlQ" />
    <meta name="msvalidate.01" content="82AA96C1527AAD71F0FADF5239790C02" />