    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hypr.co.nz/"/>
    <meta property="og:title" content="HYPR, Uncode. Unleash"/>
    <meta property="og:site_name" content="HYPR"/>
    <meta property="og:description" content="We want to help NZ companies create a new way of building software. A method that unleashes the ability of organisations to anticipate, respond, adapt, ideate and innovate in super-quick time. We want to help you build sustainable, competitive relevance."/>

    <meta name="twitter:site" content="@hyprNZ" />
    <meta name="twitter:creator" content="@hyprNZ" />
    <meta name="twitter:domain" content="hypr.co.nz" />
    <meta name="twitter:title" content="HYPR, Uncode. Unleash" />
    <meta name="twitter:description" content="Innovating delivery and delivering innovation." />

    <title>HYPR| Build software in days, improve business agility, rewire your software architecture |HYPR</title>