<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HYPR| About Us |HYPR</title>
</head>
<body>

    <div class="wrapper">
        <div id="main">

            {% include navigation.html %}

            <div class="values">

                <h1>Our Values</h1>
                <ul>
                    <li>If we see something that doesn’t work, we cannot stand idly by.</li>
                    <li>We think people in IT need a better life.</li>
                    <li>We love change, innovation and disruption. It’s the making of us.</li>
                    <li>Share. Together is social and social is good.</li>
                </ul>

                <div id="values-columns">
                    <div id="uncode" style="float: left; width: 50%; text-align: right">
                        <span>Less complexity</span>
                        <span>Less code</span>
                        <span>Less time</span>
                        <span>Less effort</span>
                        <span>Less stress</span>
                        <span>Less cost</span>
                        <span>Less non-work</span>
                        <span>Less constraints</span>
                        <span>Less burdened</span>
                        <span><strong>Uncode</strong></span>
                    </div>
                    <div id="unleash" style="float: left; width: 50%; text-align: left">
                        <span>| More simplicity</span>
                        <span>| More resilience</span>
                        <span>| More speed</span>
                        <span>| More work not done</span>
                        <span>| More fun</span>
                        <span>| More productivity</span>
                        <span>| More ideation</span>
                        <span>| More innovation</span>
                        <span>| More agile</span>
                        <span>| <strong>Unleash</strong></span>
                    </div>
                </div>

                <div id="rewire">
                    <p>Before re-wiring, you must uncode.</p>
                </div>

            </div>

            {% include footer.html %}

        </div>
    </div>

    {% include analytics.html %}

</body>
</html>