<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <meta name="description" content="HYPR gives NZ businesses high-quality software delivery at super-quick speed by implementing Lean|Agile approaches. Find out more about what we value most...">

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Software Delivery With Inbuilt Agility | HYPR, Auckland, NZ</title>
</head>
<body>

    <div class="wrapper">
        <div id="main">

            {% include navigation.html %}

            <div class="values">

                <h1>Our Values</h1>
                <p>If we see something that doesn’t work, we cannot stand idly by. <strong>We think people in IT need a better life.</strong></p>
                <p><strong>We love change, innovation and disruption.</strong> It’s the making of us.</p>
                <p><strong>Share.</strong> Together is social and social is good.</p>

                <div class="values_list">
                    <div class="less">
                        <h3>less</h3>
                        <ul>
                            <li>Complexity</li>
                            <li>Code</li>
                            <li>Time</li>
                            <li>Effort</li>
                            <li>Stress</li>
                            <li>Cost</li>
                            <li>Non-work</li>
                            <li>Constraints</li>
                            <li>Burdened</li>
                        </ul>
                        <span><strong>Uncode</strong></span>
                    </div>
                    <div class="more">
                        <h3>more</h3>
                        <ul>
                            <li>Simplicity</li>
                            <li>Resilience</li>
                            <li>Speed</li>
                            <li>Work not done</li>
                            <li>Fun</li>
                            <li>Productivity</li>
                            <li>Ideation</li>
                            <li>Innovation</li>
                            <li>Agile</li>
                        </ul>
                        <span><strong>Unleash</strong></span>
                    </div>
                </div>

                <div class="clear">
                    <p>Before re-wiring, you must uncode.</p>
                </div>

            </div>

            {% include footer.html %}

        </div>
    </div>

    {% include analytics.html %}

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>


</body>
</html>