<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 768px)" href="css/main-mobile.css">
    <link rel="stylesheet" media="only screen and (max-width: 468px)" href="css/main-mobile.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px)" href="css/main-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 469px) and (max-width: 1024px)" href="css/main-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 1025px)" href="css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="wrapper">
		<div id="main">

            {% include navigation.html %}

			<div class="leader">
				<div class="inner">
                    <img src="images/hypr-logo-trim.png">
					<h2>80&#37; less code<br />Software in days not months</h2>
					<p>Long before Jac does a computer science degree, traditional ways of building software will be history. Along with all the businesses that stuck with them.</p>
					<p><strong>So there.</strong></p>
				</div>
			</div>
			<div class="section_action" id="learn">
				<div>
					<p><a href="#different">Learn more</a></p>
				</div>
			</div>
			<div class="section_info" id="different">
				<div>
					<div class="section_wrap">
						<div class="info">
							<a name="aboutHYPR" />
							<h2>So start doing things differently today. <br /> With HYPR.</h2>
							<p>HYPR is a totally new method of operation in building software which unleashes your ability to anticipate, respond, ideate and innovate in super quick time. HYPR gives you the software and business agility you need to build sustainable, competitive relevance to your customers.</p>
						</div>
						<div class="timeline six">
							<p><strong>When Jac's 6</strong><br />there'll be no accidental complexity</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section_info alt" id="accidental">
				<div>
					<div class="section_wrap">
						<div class="info">
							<h2>Accidental complexity is no accident.</h2>
							<p>Building agility is what keeps you in business tomorrow because it keeps you relevant to your customers. Yesterday's methods of building software simply crush agility. Continuing to use them is why we have a quiet crisis in IT - the creation of accidental complexity and technical debt that have become the albatross around the neck of agility. HYPR gets rid of accidental complexity and keeps technical debt at a minimum.</p>
						</div>
						<div class="timeline eight">
							<p><strong>When Jac's 8</strong><br />technical debt will be reduced to a minimum</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section_info" id="unleashed">
				<div>
					<div class="section_wrap" id="unleash">
						<div class="info">
							<h2>Unleash your future.</h2>
							<p>HYPR's method of operation gives you the mindset, people, tools, process and architecture practices that allow you to build or change software easily across any digital channel. HYPR dramatically reduces code (we've seen 80&#37; less code using it), helps your teams love the change that's thrown your way, the ideas you want to test and the innovations you want to deliver. For the first time everything works in symphony.</p>
						</div>
						<div class="timeline ten">
							<p><strong>When Jac's 10</strong><br />software will be delivered as fast as ideas come</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section_info alt" id="implement">
				<div>
					<div class="section_wrap">
						<div class="info">
							<h2>Implementing HYPR</h2>
							<div class="list">
								<div>
									<h3>Rewire your mindset</h3>
									<p>We use our experience as innovative generalising specialists who have worked right across the value stream to radically alter your preconceptions around software delivery and innovation.</p>
								</div>
								<div>
									<h3>Implement approaches that work</h3>
									<p>We implement Lean&#124;Agile approaches and 'social coding' to give you software delivery of the highest quality and at super speed. You'll learn and adapt faster. You'll build a culture that loves change.</p>
									</div>
								<div>
									<h3>Use a platform that delivers</h3>
									<p>Our HYPR platform is based on Lean architecture and internet protocols so it's scalable, maintainable and secure. A single network of data that supports multiple digital channels. It removes accidental complexity, reduces essential complexity and requires 80&#37; less code.</p>
								</div>
								<div class="last">
									<h3>Unleash your potential</h3>
									<p>For the first time your people, tools, process and architecture will work in <em>symphony</em>.</p>
									</div>
							</div>
						</div>
						<div class="timeline twelve">
							<p><strong>When Jac's 12</strong><br />there'll be fewer competitors around you</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section_info" id="services">
				<div>
					<h2>Services</h2>
					<div>
						<h3>HYPR Innovation</h3>
						<p>
                            Generate and evaluate great software product ideas in the market faster, at lower cost and more effectively than your competitors. Get out of the building and get more learning cycles per dollar.
                        </p>
					</div>
					<div>
						<h3>HYPR Software Delivery</h3>
						<p>
                            Deliver valuable software early and often with exceptional quality. We don't just collaboratively deliver software with you, we can help innovate your delivery process at the same time.
                        </p>
					</div>
					<div>
						<h3>HYPR Architecture</h3>
						<p>
                           Software architecture that reduces integration costs and allows you to support multiple digital channels at a fraction of the cost. Oh, did we mention that it's fast and scales like the internet...
                        </p>
					</div>
				</div>
			</div>
			<div class="section_info" id="quote">
				<div>
					<p><em>&#34;Using old ways to do the new things we have to do works only for so long. Time is up. The organisations that take a leap now, turn their ways of working upside down and build a new method of operation fit for the new world, will win. They will have brought people, processes, tools, and architecture together in ways that build sustainable, competitive relevance. The agility that keeps their customers delighted.&#34;</em></p>
				</div>
			</div>

            {% include footer.html %}

		</div>
	</div>

    {% include analytics.html %}

</body>
</html>
