<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" type="text/css" href="./css/bootcamp.css"/>
</head>

<body class="">

{% include navigation-extended.html %}

<div class="simple-header header-greyblue">
    <h1>80% less code</h1>
</div>

<section class="content-header center-align" id="our-clients">
    <h2>Software in days not months<span class="yellow-text">.</span></h2>
    <hr/>
    <p> NZ companies are <span class="highlight highlight-yellow">great at innovation</span> but often <span
            class="highlight highlight-grey">struggle with execution</span>. At Hypr, we know that you don’t solve
        this only through technology. It comes back to the people and trust—and working with them to connect the dots
        between
        the product, the tech and the customer.</p>
</section>


<section class="wrap grey" id="uncode">
    <div class="content-section">
        <div class="half">
            <h2>Uncode
                <p class="clear"/>
                <span class="trashhand">Accidental complexity is no accident<span class="blue-text">.</span></span>
            </h2>
        </div>
        <div class="half"><p class="intro">Building agility is what keeps you in business tomorrow because it
            keeps you relevant to your
            customers. Yesterday's methods of building software simply crush agility. Continuing to use them is why we
            have a <span class="highlight highlight-grey">quiet crisis</span> in IT—the creation of accidental
            complexity and technical debt that have become the
            albatross around the neck of agility. Hypr gets rid of accidental complexity and keeps technical debt at a
            minimum and helps <span class="highlight highlight-yellow">build the capability to deliver</span> simple,
            understandable systems.</p>
        </div>
    </div>
</section>

<section class="wrap" id="unleash">
    <div class="content-section">
        <div class="half">
            <p class="intro"><span class="highlight highlight-blue">Simple, understandable systems</span> enable your teams to
                generate and evaluate great software product ideas in the market faster, at lower cost and more
                effectively than your competitors. Isn't that what agility promised you?</p>
        </div>
        <div class="half">
            <h2>Unleash
                <p class="clear"/>
                <span class="trashhand">your ideas<span class="yellow-text">.</span></span>

            </h2>
        </div>
    </div>
</section>


<div class="midpage-header align-center header-greyblue"><h1>Our Offerings</h1></div>


<section class="programs" id="offerings">
    <ul>
        <li class="program-block">
            <a href="/build-for-speed">
                <img alt="passion to engage" src="./images/route.svg">
                <h4>Build for Speed</h4>
                <p><span class="trashhand">Accelerate software development</span></p>
                <p>In partnership with Callaghan Innovation, we’ve developed and run an improvement programme for
                    over 20 NZ businesses.</p>
                <span class="arrow-after">Read more</span>
            </a>
        </li>
        <li class="program-block">
            <a href="/iterate-to-speed">
                <img alt="grit to act" src="./images/compass.svg">
                <h4>Iterate to Speed</h4>
                <p><span class="trashhand">Ignite and incubate ideas</span></p>
                <p>We’ve trained staff in scaling in dozens of companies and shortcut the learning curve for
                    companies by prototyping new architectures in their environment.</p>
                <span class="arrow-after">Read more</span>
            </a>
        </li>
        <li class="program-block">
            <a href="/scale-speed">
                <img alt="aptitude to share" src="./images/group.svg">
                <h4>Scale at Speed</h4>
                <p><span class="trashhand">Amplify to keep pace with customer demand</span></p>
                <p> And in the last year, we’ve achieved some astonishing results by focusing on transitioning for
                    scale with an NZ-based, internationally-focused startup who are currently in a Series A funding
                    round.
                </p>
                <span class="arrow-after">Read more</span>
            </a>
        </li>
    </ul>
</section>

{% include footer2.html %}

</body>
</html>