<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" type="text/css" href="./css/bootcamp.css"/>
</head>

<body class="">

{% include navigation-extended.html %}

<div class="simple-header header-grey">
    <h1>Iterate to Speed</h1>
</div>
<section class="wrap" id="overview">
    <div class="content-section header-content center-align">
        <h2>Overview</h2>
        <hr/>
        <p class="intro">Our clients need to <span class="highlight highlight-yellow">ignite and incubate</span> new
            approaches and start to uncode the organisation. With our help, companies of all sizes have been able to
            upskill staff through courses, deliver software and explore new architectures. Over the last
            two years, we achieved:</p>
    </div>
    <div class="content-section grey">
        <ul>
            <li class="overview-block">
                <h3><span class="trashhand">2</span></h3>
                <h4>APIDays conferences</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">15</span></h3>
                <h4>SAFe courses</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">10</span></h3>
                <h4>architectural spikes</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">1036</span></span></h3>
                <h4>coffees</h4>
            </li>
        </ul>
    </div>
</section>

<section class="wrap chars" id="admissions-chars">
    <div class="content-section">
        <h2><span class="trashhand">To do this </span>we look for them to:</h2>
        <ul>
            <li>
                <div class="chars-image">
                    <img alt="passion to engage" src="./images/route.svg">
                </div>
                <div class="chars-content">
                    <h4>Engage</h4>
                    <p>As the drive to deliver increases and tech stacks become more complex, collaboration becomes more
                        critical. Teams are at the heart of the way we work and that requires everyone to work together.
                        Let's be willing and ready to listen, ask and respond.</p>
                </div>
            </li>
            <li>
                <div class="chars-image">
                    <img alt="grit to act" src="./images/compass.svg">
                </div>
                <div class="chars-content">
                    <h4>Act</h4>
                    <p>Change can be overwhelming in complex or even chaotic situations. That's when it is even more
                        important to try small changes—to watch and learn from the response. Only then will we know if
                        what we did was right. </p>
                </div>
            </li>
            <li>
                <div class="chars-image">
                    <img alt="aptitude to share" src="./images/group.svg">
                </div>
                <div class="chars-content">
                    <h4>Focus</h4>
                    <p>We will need you to make tough trade-off decisions to enable the team to focus on the most
                        valuable work first. This is a dynamic process at the strategy and product roadmap level where
                        you will negotiate short and long-term goals. </p>
                </div>
            </li>
            <li>
                <div class="chars-column">
                    <div class="chars-image">
                        <img alt="willingness to adapt" src="./images/user.svg">
                    </div>
                    <div class="chars-content">
                        <h4>Learn</h4>
                        <p>We need to meet the challenge of building out our breadth and depth of technology and product
                            development skills. But being able to adapt and learn is as important as building skills.
                            Let’s explore new ideas and ways of working to find the right fit for your business. </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear">
        <p class="intro"><strong>In case it wasn’t clear:</strong></p>
        <p>It's going to be <i>pretty intense</i></p>
    </div>
</section>

{% include footer2.html %}

</body>
</html>