<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" type="text/css" href="./css/bootcamp.css"/>
</head>

<body class="">

{% include navigation-extended.html %}

<section class="simple-header header-blue">
    <h1>Our story</h1>
</section>

<section class="wrap">
    <div class="content-header center-align">
        <h2>Who we are<span class="blue-text">.</span></h2>
        <hr/>

    </div>
    <div class="content-section">
        <p class="intro">At Hypr, we are a collective of experienced software professionals. We've worked in
            corporates and startups through to sale and failure; we've done ALL roles in the process between us, and
            we know how to work in and with teams. We are <span
                    class="highlight highlight-yellow">not just techies</span>, we are technologists
            with an eye to the business. We know that it is critical to keep information flowing between the
            boardroom and the keyboard.
        </p>
        <p class="intro"><strong>As a team</strong>, we are:</p>
        <ul class="list">
            <li><p class="intro list">Full-stack technologists</p></li>
            <li><p class="intro list">Flow of work—navigating the-offs between short, mid and long-term business
                goals</p></li>
            <li><p class="intro list">A style of architecture (REST) which scales the way the web works for distributed
                systems, continuous build and deploy pipelines including test automation</p>
            </li>
            <li><p class="intro list">Delivery-team roles and structure—advising on hiring and helping to onboard new
                staff</p></li>
            <li><p class="intro list">We lead by example, guided by social coding, reinforced through coaching</p></li>
        </ul>
    </div>
</section>
<section class="wrap grey">
    </div>
    <div class="content-header center-align">
        <h2>What we do<span class="yellow-text">.</span></h2>
        <hr/>
        <p class="intro">We are all about people, building trust and ensuring that companies get the right
            engagement
            for where they are at.
            Our Build for Speed programme is an early stage dip-you-toes-in-the-water where we provide advice and
            help you assess yourself. Out other two programmes, Iterate to Speed and Scale at Speed, are
            increasingly immersive working with and alongside your people. In the end, we work wit teams to ensure
            that great ideas can get their day in the sun. And when you’re seeing genuine ‘jump-at-it-ness’ from
            customers, that the product can scale to keep pace with exponential demand.
        </p>
        <p class="intro">This scaling is not achieved by hiring more and more developers or running up more cloud
            servers. It’s about keeping things simple and acting as one. Simple like 80% less code. Acting as one
            like frequent, brief check-ins with cross-functional groups to get decisions made quickly and keep work
            moving. Essentially, we’re working from the boardroom to the keyboard to help you avoid ‘scale fail’—an
            issue affecting too many NZ tech companies.
        </p>
    </div>
</section>

<section class="wrap greg">
    <div class="content-header center-align">
        <h2>Our Values.</h2>
        <hr/>
        <p>If we see something that doesn’t work, we cannot stand idly by. We think people in IT need a
            <span class="highlight highlight-blue">better life</span>.
            We love <span class="highlight highlight-yellow">change, innovation and disruption.</span> It’s the
            making of us. Share. Together is social and <span class="highlight highlight-grey">social is good</span>.
        </p>
    </div>

    <!--<div class="content-header">-->
    <!--<div class="center-align">-->
    <!--<h2>Stay simple.</h2>-->
    <!--<hr/>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="content-section">-->
    <!--<div class="half center-align">-->
    <!--<h3>less</h3>-->
    <!--<ul>-->
    <!--<li>Complexity</li>-->
    <!--<li>Code</li>-->
    <!--<li>Time</li>-->
    <!--<li>Effort</li>-->
    <!--<li>Stress</li>-->
    <!--<li>Cost</li>-->
    <!--<li>Non-work</li>-->
    <!--<li>Constraints</li>-->
    <!--<li>Burdened</li>-->
    <!--</ul>-->
    <!--<span><strong>Uncode</strong></span>-->
    <!--</div>-->
    <!--<div class="half left-align">-->
    <!--<h3>more</h3>-->
    <!--<ul>-->
    <!--<li>Simplicity</li>-->
    <!--<li>Resilience</li>-->
    <!--<li>Speed</li>-->
    <!--<li>Work not done</li>-->
    <!--<li>Fun</li>-->
    <!--<li>Productivity</li>-->
    <!--<li>Ideation</li>-->
    <!--<li>Innovation</li>-->
    <!--<li>Agile</li>-->
    <!--</ul>-->
    <!--<span><strong>Unleash</strong></span>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="clear">-->
    <!--<div class="center-align">-->
    <!--<p class="intro">Before re-wiring, you must uncode.</p>-->
    <!--</div>-->
    <!--</div>-->

</section>

<div class="redirect">
    <ul>
        <li class="hvr-fade redirect-block">
            <a href="/case-studies">
                <span>Check out</span>
                <h2>case studies</h2>
                <div class="read-more">Read more →</div>
            </a>
        </li>
        <li class="hvr-fade redirect-block">
            <a href="/thoughts">
                <span>Check out</span>
                <h2>Our ramblings</h2>
                <div class="read-more">Read more →</div>
            </a>
        </li>
    </ul>
</div>

{% include footer2.html %}

</body>
</html>