<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" media="only screen and (max-device-width: 768px)" href="/css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (max-width: 468px)" href="/css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px)" href="../css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 469px) and (max-width: 1024px)" href="/css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 1025px)" href="/css/blog.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HYPR| {{ page.title }} |HYPR</title>
</head>
<body>

<div class="wrapper">
    <div id="main">

        {% include navigation.html %}

        <div class="section_blog">
            <article itemscope itemtype="http://schema.org/BlogPosting">

                <h1 itemprop="name">{{ page.title }}</h1>

                <footer>
                    <p><time itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time> |
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">
                                <a itemprop="url" rel="author" href="https://twitter.com/{{page.twitter}}">{{ page.author }}</a>
                            </span>
                        </span>
                    </p>
                </footer>

                <div itemprop="articleBody">
                    {{ content }}
                </div>

                <footer>
                    <div class="filed-under">
                        Filed under:
                        <span itemprop="genre">{{page.genre}}</span>,
                        <span itemprop="keywords">{{page.keywords}}</span>
                    </div>

                    <div class="twitter">
                        <a href="https://twitter.com/intent/tweet?screen_name={{ page.twitter }}&text=@HyprNZ http://hypr.nz{{page.url}}" class="twitter-mention-button" data-size="large" data-related="HyprNZ">Tweet to @{{ page.twitter }}</a>
                        <a href="https://twitter.com/{{ page.twitter }}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{ page.twitter }}</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </footer>

            </article>
        </div>

        {% include footer.html %}

    </div>
</div>

{% include analytics.html %}

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>


</body>
</html>