<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" type="text/css" href="./css/bootcamp.css"/>
</head>

<body class="">

{% include navigation-extended.html %}

<div class="simple-header header-grey">
    <h1>Scale at Speed</h1>
</div>

<section class="wrap" id="overview">
    <div class="content-section header-content center-align">
        <h2>Overview</h2>
        <hr/>
        <p class="intro">Our startup clients <span class="highlight highlight-yellow">need to keep ahead.</span> With
            our help, they have
            <span class="highlight highlight-grey">transitioned to keep pace with growing customer demand</span>
            and move into new markets. We loved working with them and want to do the same for you. NZ digital startups
            are great at innovation, but often struggle with delivery. And we hate it when a
            great idea attracts genuine demand but fails in the execution. We work with clients who recognise this
            problem. With one client over the course of a year, we
            achieved:</p>
    </div>
    <div class="content-section grey">
        <ul>
            <li class="overview-block">
                <h3><span class="trashhand">&uarr;8</span>x</h3>
                <h4>Increase in delivery speed to onboard clients</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">200</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in developer productivity</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">&darr;50</span>%</h3>
                <h4>Reduction in monthly hosting costs</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">270</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in annual recurring revenue</h4>
            </li>
        </ul>
    </div>
</section>


<section class="wrap half-accordion admissions-process">
    <div class="content-section">
        <div class="half">
            <h2>Scale Fail<span class="blue-text">.</span></h2>
            <p class="intro">Our clients put their trust in us, so we hold ourselves to the highest standards to ensure
                that they are building world-competing software capability. Scale
                at Speed ensures that great ideas can get their day in the sun. And when you’re <span class="highlight highlight-blue">seeing genuine
                    ‘jump-at-it-ness’ from customers</span>, that the product can scale to keep pace with exponential demand.</p>

            <p class="intro"> This scaling is not achieved by hiring more and more developers or running up more cloud
               servers. It’s
               about keeping things simple and acting as one. Simple like 80% less code. Acting as one like frequent,
               brief check-ins with cross-functional groups to get decisions made quickly and keep work moving.
                Essentially, we’re working from the boardroom to the keyboard to <span class="highlight highlight-grey">help you avoid ‘scale fail’</span>—an issue
               affecting too many NZ tech companies.</p>
        </div>
        <div class="half accordion">
            <ul>
                <li class="">
                    <div class="adm-image">
                        <img src="./images/compass.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Pace of delivery slows</h4>
                        <p class="details" style="display: block;">Initial releases (MVPs) are necessarily “fast and cheap”. But
                            often, when it comes time to grow, delivery starts to take twice as long and cost twice as
                            much. The slow pace of delivery eventually puts pressure on cashflow, and the tech team
                            becomes an unbearable cost. We call this “scale fail”.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/handshake.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Profitability potential not realised</h4>
                        <p class="details" style="display: block;">Ultimately, the potential profitability of the
                            company is not realised—so the business owner loses, investors lose and the NZ economy
                            loses.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/money.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Transition to meet demand</h4>
                        <p class="details" style="display: block;">Startups need to be able to transition from one
                            “right-scale” to the next as demand grows.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/people.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Technical execution partner</h4>
                        <p class="details" style="display: block;">We have experience of remediating these issues before
                            companies hit scale fail. We can rapidly help to right-scale the technical execution at the
                            critical stage between product/market-fit validation and scaling.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div id="video-container">
    <iframe src="https://player.vimeo.com/video/199598056" width="100%" height="360" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<section class="wrap grey" id="key-dates">
    <div class="content-section">
        <div class="half">
            <h2>Approach<span class="blue-text">.</span></h2>
            <p class="intro">
                Our approach is to amplify work inside startups to avoid scale fail and unleash profit potential. This programme
                is most suited to small growth companies who have genuine unmet demand.
            </p>
            <p class="intro">Once we have agreed to start, we target complexity that can be simplified—we break it up
                into manageable parts.</p>
            <h2>Our Team<span class="yellow-text">.</span></h2>
            <p class="intro">Our transition teams are made up of 2-3 people—a mix of technologists and product delivery
                folk.</p>
            <p class="intro">Transitioning all this takes time, patience, courage and a single mindedness, plus a little
                bit of having
                been there before. So, we lead by example, guided by social coding and reinforced through coaching.</p>
            <h2>Boardroom to keyboard<span class="grey-text">.</span></h2>
            <p class="intro">We've left the <strong>best to last</strong>. Change like this isn't effective unless it is
                viral throughout the organisation. We know that it needs to engage both the boardroom and the keyboard;
                and it is our role to ensure that the two can find a common language. </p>
        </div>
        <div class="half">
            <div class="line"></div>
            <ul>
                <li>
                    <h4>When to Start Talking</h4>
                    <hr>
                    <p><strong>2-8 weeks before you intend to start.</strong></p>
                    <p>We recommend that you start early on discussions so that we can reach an agreement
                        on how to proceed and give your team as much lead-time as possible.</p>
                </li>
                <li>
                    <h4>Prep Work—agreeing metrics</h4>
                    <hr>
                    <p><strong><span class="blue-text">Length: </span>1-4 weeks</strong></p>
                    <p>A lightweight healthcheck/questionnaire followed by a one-day workshop to co-create a high-level
                        plan of the metrics we need to track against. The workshop will cover everything from strategic
                        alignment in the
                        prioritisation of work to agreeing ways of working together. In the run-up, we will
                        also provide materials that can be started on at your own pace. Some work is new material to
                        learn, other parts are ensuring that there is the right infrastructure for when we arrive. </p>
                </li>
                <li>
                    <h4>Rewire</h4>
                    <hr>
                    <p><strong><span class="blue-text">Length: </span>1-3 months in 1 week cycles</strong></p>
                    <p>We will work with your team through a mixture of onsite and remote working. </p>
                    <br/>
                    <p><strong>For each week</strong>, we ensure there is strategic alignment in the
                        prioritisation of work across: features, technical debt, production triage and process
                        improvements. </p>
                    <br/>
                    <p><strong>Throughout the week</strong>, we work in a daily delivery cycle of
                        discuss-estimate-act-reestimate-communicate-demo-improve. Each and every day we will see changes
                        going through our pipeline and see improvements to our overall systems.
                    </p>
                    <br/>
                    <p>We don’t want to run longer than needed. The purpose is to
                        leave you with a simple, explainable and scalable system and way of working—that enables you to
                        meet the next phase of your growing customer demand. We are only successful when your customers
                        are happy.</p>
                </li>
                <li>
                    <h4>Review</h4>
                    <hr>
                    <p><strong>Final Week</strong> (of any cycle)</p>
                    <p>It's time to take stock and glory in how far we have come together. Let’s look back on what we
                        have achieved and confirm that you have what you need to take the next steps.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

{% include footer2.html %}

</body>
</html>