<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
</head>

<body class="">

{% include navigation.html %}

<div class="simple-header header-grey">
    <h1>Scale at Speed</h1>
</div>

<section class="wrap" id="overview">
    <div class="content-section header-content center-align">
        <h2>Overview</h2>
        <hr/>
        <p class="intro">Our startup clients <span class="highlight highlight-yellow">need to keep ahead.</span> With
            our help, they have
            <span class="highlight highlight-grey">transitioned to keep pace with growing customer demand</span>
            and move into new markets. We loved working with them and want to do the same for you. NZ digital startups
            are great at innovation, but often struggle with delivery. And we hate it when a
            great idea attracts genuine demand but fails in the execution. We work with clients who recognise this
            problem. With one client over the course of a year, we
            achieved:</p>
    </div>
    <div class="content-section grey">
        <ul>
            <li class="overview-block">
                <h3><span class="trashhand">&uarr;8</span>x</h3>
                <h4>Increase in delivery speed to onboard clients</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">200</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in developer productivity</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">&darr;50</span>%</h3>
                <h4>Reduction in monthly hosting costs</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">270</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in annual recurring revenue</h4>
            </li>
        </ul>
    </div>
</section>


<section class="wrap half-accordion admissions-process">
    <div class="content-section">
        <div class="half">
            <h2>Scale Fail<span class="blue-text">.</span></h2>
            <p class="intro">Our clients put their trust in us, so we hold ourselves to the highest standards to ensure
                that they are building world-competing software capability. Scale
                at Speed ensures that great ideas can get their day in the sun. And when you’re <span class="highlight highlight-blue">seeing genuine
                    ‘jump-at-it-ness’ from customers</span>, that the product can scale to keep pace with exponential demand.</p>

            <p class="intro"> This scaling is not achieved by hiring more and more developers or running up more cloud
               servers. It’s
               about keeping things simple and acting as one. Simple like 80% less code. Acting as one like frequent,
               brief check-ins with cross-functional groups to get decisions made quickly and keep work moving.
                Essentially, we’re working from the boardroom to the keyboard to <span class="highlight highlight-grey">help you avoid ‘scale fail’</span>—an issue
               affecting too many NZ tech companies.</p>
        </div>
        <div class="half accordion">
            <ul>
                <li class="">
                    <div class="adm-image">
                        <img src="./images/compass.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Pace of delivery slows</h4>
                        <p class="details" style="display: block;">Initial releases (MVPs) are necessarily “fast and cheap”. But
                            often, when it comes time to grow, delivery starts to take twice as long and cost twice as
                            much. The slow pace of delivery eventually puts pressure on cashflow, and the tech team
                            becomes an unbearable cost. We call this “scale fail”.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/handshake.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Profitability potential not realised</h4>
                        <p class="details" style="display: block;">Ultimately, the potential profitability of the
                            company is not realised—so the business owner loses, investors lose and the NZ economy
                            loses.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/money.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Transition to meet demand</h4>
                        <p class="details" style="display: block;">Startups need to be able to transition from one
                            “right-scale” to the next as demand grows.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/people.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Technical execution partner</h4>
                        <p class="details" style="display: block;">We have experience of remediating these issues before
                            companies hit scale fail. We can rapidly help to right-scale the technical execution at the
                            critical stage between product/market-fit validation and scaling.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div id="video-container">
    <iframe src="https://player.vimeo.com/video/199598056" width="100%" height="360" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% include footer.html %}
{% include analytics.html %}

</body>
</html>