<!DOCTYPE html>

<html>
<head>

    {% include meta.html %}

    <title>Hypr Innovation</title>

    <link rel="stylesheet" type="text/css" href="/css/site.css"/>
</head>

<body class="">

{% include navigation.html %}

<div class="simple-header header-grey">
    <h1>Scale at Speed</h1>
</div>

<section class="wrap" id="overview">
    <div class="content-section header-content center-align">
        <h2>Overview</h2>
        <hr/>
        <p class="intro">Our startup clients <span class="highlight highlight-yellow">need to keep ahead.</span> With
            our help, they have
            <span class="highlight highlight-grey">transitioned to keep pace with growing customer demand</span>
            and move into new markets. We loved working with them and want to do the same for you. NZ digital startups
            are great at innovation, but often struggle with delivery. And we hate it when a
            great idea attracts genuine demand but fails in the execution. We work with clients who recognise this
            problem. With one client over the course of a year, we
            achieved:</p>
    </div>
    <div class="content-section grey">
        <ul>
            <li class="overview-block">
                <h3><span class="trashhand">&uarr;8</span>x</h3>
                <h4>Increase in delivery speed to onboard clients</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">200</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in developer productivity</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">&darr;50</span>%</h3>
                <h4>Reduction in monthly hosting costs</h4>
            </li>
            <li class="overview-block">
                <h3><span class="trashhand">270</span>%<span class="trashhand">&uarr;</span></h3>
                <h4>Increase in annual recurring revenue</h4>
            </li>
        </ul>
    </div>
</section>


<section class="wrap half-accordion admissions-process">
    <div class="content-section">
        <div class="half">
            <h2>Small steps<span class="blue-text">.</span> Large Growth<span class="blue-yellow">.</span></h2>
            <p class="intro">Our clients put their trust in us, so we hold ourselves to the highest standards to ensure
                that they are building world-competing software capability. Scale
                at Speed ensures that great ideas can get their day in the sun. And when you’re <span
                        class="highlight highlight-blue">seeing genuine
                    ‘jump-at-it-ness’ from customers</span>, that the product can scale to keep pace with exponential
                demand.</p>

            <p class="intro"> This scaling is not achieved by hiring more and more developers or running up more cloud
                servers. It’s
                about keeping things simple and acting as one. Simple like 80% less code. Acting as one like frequent,
                brief check-ins with cross-functional groups to get decisions made quickly and keep work moving.
                Essentially, we’re working from the boardroom to the keyboard to <span class="highlight highlight-grey">help you avoid ‘scale fail’</span>—an
                issue
                affecting too many NZ tech companies.</p>
        </div>
        <div class="half accordion">
            <ul>
                <li class="">
                    <div class="adm-image">
                        <img src="./images/compass.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Pace of delivery</h4>
                        <p class="details" style="display: block;">Initial versions of tech products are necessarily
                            &ldquo;fast and cheap&rdquo; as you experiment and respond to find product/market fit. The pressure to
                            keep delivering and grow at the same time, often leads companies to hire more devs to try
                            and build more. But often, what you’ll see is that delivery starts to take twice as long and
                            cost twice as much. This slow pace of delivery, combined with the cost of the growing tech
                            team, eventually puts an unbearable pressure on cashflow. This is just one symptom of what
                            we call <i>scale fail</i>.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/handshake.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Profitability potential</h4>
                        <p class="details" style="display: block;">Finding something that is in demand is hard enough.
                            But to have found that demand and then not be able to keep up with it is incredibly
                            frustrating. Ultimately, the potential profitability of the company is not realised—so the
                            business loses, investors lose and the NZ economy loses.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/money.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Transition to meet demand</h4>
                        <p class="details" style="display: block;">In the growth phase, companies need to be able to
                            take transition steps from one “right-scale” to the next. You might be surprised how small
                            and painless these can be.</p>
                    </div>
                </li>
                <li class="">
                    <div class="adm-image">
                        <img alt="coding bootcamp prep course" src="./images/people.svg">
                    </div>
                    <div class="adm-content">
                        <h4 class="question prep">Technical execution partner</h4>
                        <p class="details" style="display: block;">Our approach to scaling focuses on four areas—making
                            simpler technology that works harder (think 80% less code), acting as one, enabling you to
                            continue delivering to customers as you make these transitions and building the capability
                            of your teams.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<div id="video-container">
    <iframe src="https://player.vimeo.com/video/199598056" width="100%" height="360" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% include footer.html %}
{% include analytics.html %}

</body>
</html>