<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <meta name="description" content="We give our thinking on new ways of working that are fit for today’s world of digital disruption. Read more here...">

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-nexa-black.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-museo-sans-rounded-300.css"/>

    <link rel="stylesheet" media="only screen and (max-device-width: 768px)" href="../css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (max-width: 468px)" href="../css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px)" href="../css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 469px) and (max-width: 1024px)" href="../css/blog-ipad.css">
    <link rel="stylesheet" media="only screen and (min-width: 1025px)" href="../css/blog.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Uncoded. Unleashed... Our Thinking | HYPR, Auckland, NZ</title>
</head>
<body>

    <div class="wrapper">
        <div id="main">

            {% include navigation.html %}


            <div class="section_blog">

                <ul>
                    {% for post in site.posts %}
                    <li class="section_blog_leader">
                        <div>
                            <article itemscope itemtype="http://schema.org/BlogPosting">
                                <h2 itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                <footer>
                                    <p>
                                        <span class="blog_metadata"><time itemprop="datePublished">{{ post.date | date: "%-d %B %Y" }}</time> |
                                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                <span itemprop="name">
                                                    <a itemprop="url" rel="author" href="https://twitter.com/{{post.twitter}}">{{ post.author }}</a>
                                                </span>
                                            </span>
                                        </span>
                                    </p>
                                </footer>

                                {{ post.excerpt }}
                                <p><a href="{{ post.url }}" class="section_blog_link">Read more</a></p>
                            </article>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>

            {% include footer.html %}

        </div>
    </div>

    {% include analytics.html %}

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>


</body>
</html>
